<p id="notice"><%= notice %></p>

<p>
  <strong>user:</strong>
  <%= link_to @post.user.name, @post.user %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @post.image.url %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>liked:</strong>
  <%= @post.likes.count %>
</p>
<!--헬퍼 사용-->
<%= like_button(@post, current_user) %>

<% if can? :manage, @post %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>